.#{$root}__color-card{
    float: left;
    width: 100%;
    max-width: 320px;
    margin: 0 1rem 1rem 0;
    text-align: center;

    &__color{
        height: 120px;
        border-radius: 4px;
    }

    &__name{
        padding: .5rem;
        font-weight: 700;
    }

    &__code span{
        display: block;
        padding: .2rem;
    }
}