html,
body{
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.#{$root}{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 1rem;

    & > *{
        padding: 1rem;
    }

    &__content{
        grid-column: 1;
        grid-row: 1;
    }

    &__sidenav{
        grid-column: 1;
        grid-row: 2;
        background-color: $nav-color;
    }

    &__content-wrapper{
        width: 100%;
    }

    @media(min-width: 42.5rem){
        grid-template-columns: minmax(240px, auto) 1fr;
        grid-template-rows: minmax(100vh, auto);

        &__sidenav{
            grid-row: 1;
        }

        &__content{
            grid-column: 2;
        }
    }
}