@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,300');

$root: 'dsm-app';

$font-family: 'Open Sans', sans-serif;
$c-font-base: hsl(242, 28%, 26%);
$c-link: hsl(242, 28%, 48%);
$c-nav: hsl(242, 28%, 90%);
$c-border: hsl(242, 28%, 94%);

$c-white: hsl(0, 0%, 100%);
$c-blue: hsl(198, 66%, 60%);
$c-orange: hsl(29, 89%, 60%);
$c-red: hsl(356, 63%, 60%);
$c-green: hsl(114, 30%, 60%);