{{ if .Get "color" }}
<div class="dsm-app__color-card">

    <div class="dsm-app__color-card__color" style="background-color: {{ .Get "color" }};"></div>

    {{ if .Get "name" }}
    <div class="dsm-app__color-card__name">{{ .Get "name" }}</div>
    {{ else }}
    <div class="dsm-app__color-card__name">&nbsp;</div>
    {{ end }}

    <div class="dsm-app__color-card__code">
        
        <span>{{ .Get "color" }}</span>

        <span><script>document.write(colorcolor("{{ .Get "color" }}", "rgb"));</script></span>

        <span><script>document.write(colorcolor("{{ .Get "color" }}", "hsl"));</script></span>
    
    </div>

</div>
{{ end }}