{{ partial "header.html" . }}

{{ partial "sidenav.html" . }}

<main class="dsm-app__content">

    <div class="dsm-app__content-wrapper">

        {{ .Content }}

        <aside class="dsm-app__content-related">

            <h2 class="dsm-app__sub-heading">in this section</h2>

            <div class="dsm-app__sub-pages">
            {{ range .Data.Pages }}
                <a href="{{.Permalink}}">
                    {{.Title}}
                    <span>{{ .Params.description }}</span>
                </a>
            {{ end }}
            </div>

        </aside>

        <aside class="dsm-app__content-infos">

            <p>Last update: {{ .Lastmod }}</p>

        </aside>

    </div>

</main>

{{ partial "footer.html" . }}